.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  color: black;
  background: whitesmoke;
  padding: 0 10rem 0 10rem;
  border-radius: 30%;
}

.container button{
  text-align: center;
  background-color: #282c34;
  color: white;
  font: 1em sans-serif;
  text-transform: capitalize;
  padding: 10px 30px 10px 30px;
  margin: 1rem 1rem;
  border: 0px;
  border-radius: 5px;
  
}